
html,body{height:100%}

header{background-color:#DD550C}

.navbar-inner{background-color:#03244D;background-image: none;
              font-weight:bold}
.navbar .nav>li:not(.active)>a{color:#DDD;text-shadow:black 0.1em 0.1em 0.2em}
.navbar .nav .active{color:#222;text-shadow:white 0.1em 0.1em 0.2em}
.navbar .nav>li>a:hover{color:white}

#wrapper{min-height:100%}
#content-wrapper{overflow:auto;padding-bottom:80px}

#footer{text-align:center;padding-top:15px;background-color:#03244D;
        position:relative;margin-top:-80px;height:65px;clear:both}
#footer p{margin-bottom:0;color:#DDD}
.footer-links{margin:10px 0}
.footer-links li{display:inline;padding:0 2px}
.footer-links a{color:#DDD}
