



/* --------------------------------------------------------------------
 * Standard tweaks
 * --------------------------------------------------------------------
 */

html,body{height:100%}

body{font:normal normal normal 14px/1.5em
     "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Georgia, sans-serif}

h1{font-size:2em}
h2{font-size:1.5em}
h3{font-size:1.17em}
h4{font-size:1em}
h5{font-size:.83em}
h6{font-size:.75em}

header{background-color:#DD550C}

/* --------------------------------------------------------------------
 * Bootstrap tweaks
 * --------------------------------------------------------------------
 */

.navbar-inner{background:#03244D none;font-weight:bold}
.navbar .nav>li>a{color:#DDD!important;text-shadow:none}
.navbar .nav>li.active>a{color:#333!important;}
.navbar .nav>li>a:hover{color:#CCC!important}
.navbar .nav>li.active>a:hover{color:#888!important}

/* --------------------------------------------------------------------
 * Custom tweaks
 * --------------------------------------------------------------------
 */

#wrapper{min-height:100%}
#content-wrapper{overflow:auto;padding-bottom:80px}

#footer{text-align:center;padding-top:15px;background:#03244D!important;
        position:relative;margin-top:-80px;height:65px;clear:both}
#footer p{margin-bottom:0;color:#DDD}
.footer-links{margin:10px 0}
.footer-links li{display:inline;padding:0 2px}
.footer-links a{color:#DDD}

.ac-title{font-weight:bold;opacity:.5}
.ac-ctrl{float:right;margin:6px;opacity:.5}
.ac-active a{color:red}
.accordion-inner li{list-style-type:none}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'),
    local('OpenSans-Light'),
    url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'),
    local('OpenSans'),
    url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'),
    local('OpenSans-Semibold'),
    url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
