---
---
{% include setup %}

/* --------------------------------------------------------------------
 * Standard tweaks
 * --------------------------------------------------------------------
 */

/* These settings are from h5bp's main.css */

/* h5bp begin */

html,button,input,select,textarea{color:#222}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}

/*
 * A better looking default horizontal rule
 */

hr{display:block;height:1px;border:0;border-top:1pxsolid#ccc;margin:1em0;padding:0}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img{vertical-align:middle}

/*
 * Remove default fieldset styles.
 */

fieldset{border:0;margin:0;padding:0}

/*
 * Allow only vertical resizing of textareas.
 */

textarea{resize:vertical}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe{margin:0.2em0;background:#ccc;color:#000;padding:0.2em0}

/*
 * Image replacement
 */

.ir{background-color:transparent;border:0;overflow:hidden;/*IE6/7fallback*/*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:150%;}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden{display:none!important;visibility:hidden}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden{border:0;clip:rect(0000);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible{visibility:hidden}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,.clearfix:after{content:"";/*1*/display:table;/*2*/}
.clearfix:after{clear:both;}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix{*zoom:1;}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
/* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@mediaprint{*{background:transparent!important;color:#000!important;/*Blackprintsfaster:h5bp.com/s*/box-shadow:none!important;text-shadow:none!important;}a,a:visited{text-decoration:underline;}a[href]:after{content:"("attr(href)")";}abbr[title]:after{content:"("attr(title)")";}/**Don'tshowlinksforimages,orjavascript/internallinks*/.ira:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}pre,blockquote{border:1pxsolid#999;page-break-inside:avoid;}thead{display:table-header-group;/*h5bp.com/t*/}tr,img{page-break-inside:avoid;}img{max-width:100%!important;}@page{margin:0.5cm;}p,h2,h3{orphans:3;widows:3;}h2,h3{page-break-after:avoid;}}


html,body{height:100%}

body{font:normal normal normal 14px/1.5em
     "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Georgia, sans-serif}

h1{font-size:2em}
h2{font-size:1.5em}
h3{font-size:1.17em}
h4{font-size:1em}
h5{font-size:.83em}
h6{font-size:.75em}

/* --------------------------------------------------------------------
 * Bootstrap tweaks
 * --------------------------------------------------------------------
 */

.navbar-inner{background:#03244D none;font-weight:bold;filter:none}
.navbar .nav>li>a{color:#DDD!important;text-shadow:none}
.navbar .nav>li.active>a{color:#333!important;}
.navbar .nav>li>a:hover{color:#CCC!important}
.navbar .nav>li.active>a:hover{color:#888!important}

/* --------------------------------------------------------------------
 * Custom tweaks
 * --------------------------------------------------------------------
 */

.header{background-color:#DD550C;height:96px;overflow:hidden;color:white}
.header img{display:block;float:left;margin-right:20px}
.header *{line-height:25px;vertical-align:text-top}
.header .title{font-size:40px;padding-top:16px}

#wrapper{min-height:100%}
#content-wrapper{overflow:auto;padding-bottom:80px}

#footer{text-align:center;padding-top:15px;background:#03244D!important;
        position:relative;margin-top:-80px;height:65px;clear:both}
#footer p{margin-bottom:0;color:#DDD}
.footer-links{margin:10px 0}
.footer-links li{display:inline;padding:0 2px}
.footer-links a{color:#DDD}

.ac-title{font-weight:bold;opacity:.5}
.ac-ctrl{float:right;margin:6px;opacity:.5}
.ac-active a{color:red}
.accordion-inner li{list-style-type:none}

.table td{vertical-align:middle}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'),
    local('OpenSans-Light'),
    url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'),
    local('OpenSans'),
    url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'),
    local('OpenSans-Semibold'),
    url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
