
/*
 * Standard tweaks
 */

html,body{height:100%}

body{font:normal normal normal 14px/1.5em
     "Helvetica Neue", Helvetica, Helvetica, Georgia, sans-serif}

h1{font-size:2em}
h2{font-size:1.5em}
h3{font-size:1.17em}
h4{font-size:1em}
h5{font-size:.83em}
h6{font-size:.75em}

header{background-color:#DD550C}

/*
 * Custom tweaks
 */

#wrapper{min-height:100%}
#content-wrapper{overflow:auto;padding-bottom:80px}

#footer{text-align:center;padding-top:15px;background:#03244D!important;
        position:relative;margin-top:-80px;height:65px;clear:both}
#footer p{margin-bottom:0;color:#DDD}
.footer-links{margin:10px 0}
.footer-links li{display:inline;padding:0 2px}
.footer-links a{color:#DDD}

/*
 * Bootstrap tweaks
 */

.navbar-inner{background:#03244D none;font-weight:bold;filter:none;}
.navbar .nav>li>a{color:#DDD!important;
                  text-shadow:black 0.1em 0.1em 0.2em;
                  filter:DropShadow(color=black,OffX=.05em,OffY=.05em)}
.navbar .nav>li .active>a{color:#222!important;
                          text-shadow:white 0.1em 0.1em 0.2em;
                         filter:DropShadow(color=white,OffX=0.05em,OffY=0.05em)!important}
.navbar .nav>li>a:hover{color:white!important}

.dropdown-menu{left:50px}

.icon-chevron-right{float:right;margin-top:2px;margin-right:-6px;
                    opacity:.25!important;filter:alpha(opacity=25);}
