---
layout: default
---

{% include setup %}

<div id="coursesnav" class="accordion span2">

  <!-- COMP 1000/1003  -->

  <div class="accordion-group">
    <div class="accordion-heading">
      <span class="accordion-toggle ac-title" data-toggle="collapse"
            data-parent="#coursesnav" href="#comp1000">
        COMP 1000/1003</span>
    </div>
    <div id="comp1000" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li id="comp1000-">
            <a href="{{ BASE_PATH }}/courses/comp1000">
              Syllabus</a></li>
          {% assign items = 'schedule,labs,exams' | split:',' %}
          {% for i in items %}
          <li id="comp1000-{{ i }}">
            <a href="{{ BASE_PATH }}/courses/comp1000/{{ i }}">
              {{ i | capitalize }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <!-- COMP 2000 -->

  <div class="accordion-group">
    <div class="accordion-heading">
      <span class="accordion-toggle ac-title" data-toggle="collapse"
            data-parent="#coursesnav" href="#comp2000">
        COMP 2000</span>
    </div>
    <div id="comp2000" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li id="comp2000-">
            <a href="{{ BASE_PATH }}/courses/comp2000">
              Syllabus</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- COMP 3010/3013 -->

  <div class="accordion-group">
    <div class="accordion-heading">
      <span class="accordion-toggle ac-title" data-toggle="collapse"
            data-parent="#coursesnav" href="#comp3010">
        COMP 3010/3013</span>
    </div>
    <div id="comp3010" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li id="comp3010-">
            <a href="{{ BASE_PATH }}/courses/comp3010">
              Syllabus</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- COMP 5000 -->

  <div class="accordion-group">
    <div class="accordion-heading">
      <span class="accordion-toggle ac-title" data-toggle="collapse"
            data-parent="#coursesnav" href="#comp5000">
        COMP 5000</span>
    </div>
    <div id="comp5000" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li id="comp5000-">
            <a href="{{ BASE_PATH }}/courses/comp5000">
              Syllabus</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- COMP 1@@0 -->

  <div class="accordion-group">
    <div class="accordion-heading">
      <span class="accordion-toggle ac-title" data-toggle="collapse"
            data-parent="#coursesnav" href="#comp1aa0">
        COMP 1@@0</span>
    </div>
    <div id="comp1aa0" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li id="comp1aa0-">
            <a href="{{ BASE_PATH }}/courses/comp1@@0">
              Syllabus</a></li>
          <li id="comp1aa0-schedule">
            <a href="{{ BASE_PATH }}/courses/comp1@@0/schedule">
              Schedule</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="span10">
  {{ content }}
</div>
