---
layout: default
title: Help
---
{% include setup %}

<div id="helpnav" class="accordion span2">

  <div class="accordion-group">
    <div class="accordion-heading">
      <span class="accordion-toggle ac-title" data-toggle="collapse"
            data-parent="#helpnav" href="#myitlab">
        MyItLab</span>
    </div>
    <div id="myitlab" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li id="compcamp-">
            <a href="{{ BASE_PATH }}/help/myitlab">
              Homepage</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="span10">
  {{ content }}
</div>
