---
layout: default
title: Help
---
{% include setup %}

<div id="helpnav" class="accordion span2">

  <div class="accordion-group">
    <div class="accordion-heading">
      <span class="accordion-toggle ac-title" data-toggle="collapse"
            data-parent="#helpnav" href="#labs">Labs</span>
    </div>
    <div id="labs" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li id="labs-myitlab">
            <a href="{{ BASE_PATH }}/help/labs/myitlab">
              MyITLab</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="span10">
  {{ content }}
</div>
